@import "tailwindcss";
@plugin "tailwindcss-primeui";
@import "primeicons/primeicons.css";

@theme {
  --color-danger-50:  var(--p-danger-50);
  --color-danger-100: var(--p-danger-100);
  --color-danger-200: var(--p-danger-200);
  --color-danger-300: var(--p-danger-300);
  --color-danger-400: var(--p-danger-400);
  --color-danger-500: var(--p-danger-500);
  --color-danger-600: var(--p-danger-600);
  --color-danger-700: var(--p-danger-700);
  --color-danger-800: var(--p-danger-800);
  --color-danger-900: var(--p-danger-900);
  --color-danger-950: var(--p-danger-950);

  --color-secondary-50:  var(--p-surface-50);
  --color-secondary-100: var(--p-surface-100);
  --color-secondary-200: var(--p-surface-200);
  --color-secondary-300: var(--p-surface-300);
  --color-secondary-400: var(--p-surface-400);
  --color-secondary-500: var(--p-surface-500);
  --color-secondary-600: var(--p-surface-600);
  --color-secondary-700: var(--p-surface-700);
  --color-secondary-800: var(--p-surface-800);
  --color-secondary-900: var(--p-surface-900);
  --color-secondary-950: var(--p-surface-950);
}

body {
  font-family: 'Roboto', sans-serif;
  @apply bg-gray-100 h-[100vh] text-sm;
}

button {
  @apply cursor-pointer disabled:cursor-not-allowed;
}

h1 {
  @apply text-3xl font-bold text-gray-800 leading-tight mb-4;
}

h2 {
  @apply text-2xl font-semibold text-gray-800 leading-snug mb-3;
}

h3 {
  @apply text-xl font-medium text-gray-700 leading-snug mb-2;
}

h4 {
  @apply text-lg font-medium text-gray-700 leading-snug mb-2;
}

h5 {
  @apply text-base font-medium text-gray-600 leading-tight mb-2;
}

h6 {
  @apply text-sm font-medium text-gray-500 leading-snug mb-1;
}

/* Paragraphs */
p {
  @apply text-sm text-gray-600 leading-relaxed mb-4;
}

p.large {
  @apply text-base text-gray-700 leading-relaxed mb-5;
}

p.small {
  @apply text-xs text-gray-500 leading-snug mb-3;
}

/* Forms */
label {
  @apply mb-2 inline-block;
}

input, textarea, select {
  @apply w-full px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-300;
}

input:focus, textarea:focus, select:focus {
  @apply ring-2 ring-blue-300;
}

textarea {
  @apply resize-none;
}

/* Other */
hr {
  @apply mb-2 border-gray-200 border-1;
}

/* Card */
.card {
  @apply bg-white shadow-md rounded-lg p-6 mb-4;
}

.card-header {
  @apply text-xl font-bold text-gray-800 mb-2;
}

.card-body {
  @apply text-gray-600;
}

.card-footer {
  @apply text-right mt-4;
}
