<app-modal>
  <div class="modal-header">
    <h3>Add new field</h3>
  </div>
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="min-h-[20vh] w-[70vw]">
    
    <!-- Stage 1.1 -->
    @if (!typeSelected()) {
      <div class="grid grid-cols-2 gap-2">

        @for (type of types | keyvalue; track type.key) {
          <button type="button" pButton (click)="form.get('type')?.setValue(type.value)" [ngClass]="{
            'p-button': form.controls['type'].value === type.value,
            'p-button-outlined': form.controls['type'].value !== type.value
                }">
      
            @switch (type.key) {
              @case (types.Boolean) {
                <i class="pi pi-check-square"></i>
              }
              @case (types.Number) {
                <i class="pi pi-hashtag"></i>
              }
              @case (types.Text) {
                <i class="pi pi-align-left"></i>
              }
              @case (types.Photo) {
                <i class="pi pi-image"></i>
              }
            }
            {{type.key == "Text" ? "Short text" : type.key}}
          </button>
        }
      </div>
    }
    <!-- Stage 1.2 -->
    <div *ngIf="typeSelected()" class="flex flex-col gap-2">
      <div class="flex flex-row gap-2">
        <div class="flex-grow flex-1/2">
          <label for="name">Name <span class="text-gray-400">(required)</span></label>
          <input 
            type="text" 
            id="name" 
            formControlName="name"
            placeholder="Enter name"
          />
          <div class="text-gray-400">
            Appears in the entry editor
          </div>
        </div>
        <div class="flex-grow flex-1/2">
          <label for="id">Field ID:</label>
          <input 
            type="text" 
            id="id" 
            formControlName="id"
            placeholder="Enter ID"
          />
          <div class="text-gray-400">
            Appears in API responses
          </div>
        </div>
      </div>

      <fieldset>
        <fieldset>
          @switch (selectedType) {
            @case ('Text') {
              <app-short-text-validation-form></app-short-text-validation-form>
            }
            @case ('Number') {
              <app-number-validation-form></app-number-validation-form>
            }
            @case ('Boolean') {
              <app-boolean-validation-form></app-boolean-validation-form>
            }
            @case ('Photo') {
              <app-photo-validation-form></app-photo-validation-form>
            }
          }
        </fieldset>
      
        <fieldset>
          @switch (selectedType) {
            @case ('Text') {
              <app-short-text-settings-form></app-short-text-settings-form>
            }
            @case ('Number') {
              <app-number-settings-form></app-number-settings-form>
            }
            @case ('Boolean') {
              <app-boolean-settings-form></app-boolean-settings-form>
            }
            @case ('Boolean') {
              <app-photo-settings-form></app-photo-settings-form>
            }
          }
        </fieldset>
      </fieldset>

      <button type="submit" pButton [disabled]="form.invalid">Create</button>
    </div>
  </form>
</app-modal>



