

<div *ngIf="model$ | async as data">
  <header class="flex justify-between">
    <h2>{{data.name}}</h2>
    <!-- Save Button -->
    <div>
      <span *ngIf="!(synced$ | async)" class="font-medium">⚠️</span>
      <button 
        class="btn btn-primary"
        (click)="save()" 
        [disabled]="(synced$ | async)"
        >
        Save
      </button>
    </div>
  </header>

  <h3>Fields:</h3>
  <!-- Fields Section -->
  <table *ngIf="model$ | async as model" class="w-full table-fixed">
    <thead>
      <tr class="text-left border-b border-gray-300 h-12">
        <th class="w-[5%]"></th>
        <th class="px-2 py-2 text-sm font-semibold text-gray-700 w-[50%]">Name</th>
        <th class="px-2 py-2 text-sm font-semibold text-gray-700 w-[20%]">Type</th>
        <th class="px-2 py-2 text-sm font-semibold text-gray-700 w-[20%]">Required</th>
        <th class="px-2 w-32"></th>
      </tr>
    </thead>
    <tbody>
      @for (field of model.fields; track field.name) {
        <tr class="border-b border-gray-300 h-12 hover:bg-gray-50">
          <td class="w-2 text-center"> <!-- Small column with centered icon -->
            <svg class="h-4 mx-auto" viewBox="0 0 24 24" aria-hidden="true" role="img">
              <path fill="none" d="M0 0h24v24H0V0z"></path>
              <path d="M11 18c0 1.1-.9 2-2 2s-2-.9-2-2 .9-2 2-2 2 .9 2 2zm-2-8c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0-6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm6 4c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"></path>
            </svg>
          </td>
          <td class="px-2">
            {{field.name}}
          </td>
          <td class="px-2">
            {{field.type}}
          </td>
          <td class="px-2">
            @if(field.metadata?.validation?.required) {
              <span>
                <svg class="h-5 w-5 text-green-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
                </svg>
              </span>
            }
            @else {
              <span>
                <svg class="h-5 w-5 text-red-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                </svg>
              </span>
            }
          </td>
          <td class="flex justify-end items-center gap-1 h-12 px-2">
            <a class="hover:underline text-blue-600 cursor-pointer" (click)="editField()">
              Edit
            </a>
            <button class="p-2 w-6 h-6 rounded-sm hover:bg-gray-200 relative">
              <span class="absolute top-[-1.5px] left-[6.5px]">...</span>
            </button>
          </td>
        </tr>
      }
      
    </tbody>
    <tfoot>
      <tr>
        <td colspan="5" class="border-b h-12 border-gray-300">
          <button class="w-full h-full font-medium bg-white hover:bg-gray-200" (click)="addField()">
            + Add field
          </button>
        </td>
      </tr>
    </tfoot>
  </table>

