<table *ngIf="entriesWithModels$ | async as data" class="min-w-full">
  <thead>
    <tr class="text-left border-b border-gray-300 h-12">
      <th class="px-4 py-2 text-sm font-semibold text-gray-700">Entry Title</th>
      <th class="px-4 py-2 text-sm font-semibold text-gray-700">Updated</th>
      <th class="px-4 py-2 text-sm font-semibold text-gray-700"></th>
    </tr>
  </thead>
  <tbody>
    @for (item of data[0]; track item) {
      <tr class="border-b border-gray-300 h-12 hover:bg-gray-100">
        <td class="px-4 py-2 text-sm text-gray-800">{{ getEntryTitle(item, data[1]) }}</td>
        <td class="px-4 py-2 text-sm text-gray-800">{{ item.sys.updatedAt | relativeTime }}</td>
        <td><button class="btn btn-primary">Edit ></button></td>
      </tr>
    }
  </tbody>
</table>